.row{
	font-size: 0px;
	margin: 0 0;
}

.box{
	display: inline-block;
	padding: 10px;
	margin: 0 0 0 0;
	font-size: 1rem;
}
.row .box:first-child{
	margin-left: 0px;
}

.row .box:last-child{
	margin-right: 0px; 
}

.boxOne{
	width: 100%;
}

.boxTwo{
	width: 50%;
	vertical-align: top;
}

.boxThree{
	width: 15%;
	vertical-align: top;
}

.boxFour{
	width: 85%;
	vertical-align: top;
}

.marList{
	margin: 5px 10px;
}

.padList{
  padding: 0 0 18px 0;
}

.noPad{
	padding: 0;
}

.fl{
	float: left;
}

#fo ul li {
	display: inline-block;
	margin: 0 15px;
	text-align: center;
}

.maTop {
	margin: 20px 0 0 0;
}
